/* 

Avalon Template 

http://www.templatemo.com/tm-513-avalon

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
}

body {
	overflow-x: hidden;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 22px;
	color: #4a4a4a;
}

.white-border-button {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.white-border-button a {
	padding: 14px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.pink-button a {
	padding: 14px 20px;
	background-color: #b94e5e;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}


.banner .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.banner .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


.banner .left-banner-content {
	padding-top: 175px;
	padding-bottom: 175px;
	padding-left: 120px;
	text-align: left;
	background-image: url(../img/Maa.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 680px;
	height: auto;
}

.left-banner-content h1 {
	font-size: 64px;
	font-weight: 620;
	color: rgb(255, 255, 255);
	line-height: 70px;
}

.left-banner-content .white-border-button {
	margin-top: 52px;
}

.right-banner-content {
	padding: 100px 45px;
	background-color: #f4bc51;
	text-align: center;		
	min-height: 680px;
	height: auto;
}

.right-banner-content h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}

.right-banner-content .line-dec {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 30px auto;
}

.right-banner-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

.right-banner-content p {
	font-style: italic;
	font-size: 13px;
	color: #fff;
}

.section-header {
	color: rgb(255, 255, 255);
	padding-top: 50px;
	padding-bottom: 20px;
}
.section-header h1 {
	font-weight: 600;
	line-height: 50px;
}


.best-offer {
	margin-top: 10px;
}

.best-offer .col-md-4 {
	padding-left: 0px;
	padding-right: 5px;
}

.best-offer .col-md-8 {
	padding-right: 0px;
	padding-left: 5px;
}

.best-offer-left-content {
	min-height: 550px;
	height: 550px;
	padding-top: 175px;
	padding-bottom: 175px;
	text-align: center;
	background-image: url(../img/best-offer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.best-offer-left-content .icon {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	line-height: 140px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.best-offer-left-content h4 {
	margin-top: 33px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.best-offer-right-content {
	background-color: #eee;
	padding: 80px 40px;
	min-height: 550px;
	height: 550px;
}

.best-offer-right-content h2 {
	margin-top: 0px;
	font-size: 32px;
	font-weight: 300;
	color: #121212;
	line-height: 36px;
}

.best-offer-right-content em {
	font-style: normal;
	color: #b94e5e;
	font-weight: 700;
}

.best-offer-right-content p {
	margin: 18px 0px;
}

.best-offer-right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.best-offer-right-content ul li {
	display: block;
	font-size: 13px;
	font-style: italic;
	color: #7a7a7a;
	font-weight: 300;
	margin-bottom: 10px;
}

.best-offer-right-content .pink-button {
	margin-top: 45px;
}





.projects-holder .mix {
  display: none;
}

.events {
	margin-top: 10px;
	/* padding-top: 100px; */
	padding-bottom: 100px;
	text-align: center;
	background-image: url(../img/events-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.project-item {
	width: 100%;
}

.event-list {
	background-color: #fff;
}

.event-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.event-list ul li {
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

.event-list ul li:last-child {
	margin-bottom: 0px;
}

.event-list ul .first-child{
	background-color: #eee;
}

.event-list ul .even-child{
	background-color: #ddd;
}

.event-list ul .odd-child{
	background-color: #eee;
}

.event-list ul li .date span {
	background-color: #f4bc51;
	width: 80px;
	height: 60px;
	text-align: center;
	line-height: 25px;
	margin-right: 0px;
}

.event-list .event-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.event-list .event-item li {
	display: inline-block;
	padding: 10px;
}

.event-list .event-item li:last-child {
	float: right;
	/* margin-top: 20px; */
	margin-right: 20px;
}

.event-list .event-item .time span{
	text-align: center;
	margin-left: 50px;
	color: #4a4a4a;
	font-weight: 300;
	font-size: 15px;
	display: inline-block;
}

.event-list ul li .date span {
	padding-top: 15px;
	margin-top: 0px;
	font-size: 18px;
	display: block;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.event-list h4 {
	width: 300px;
	margin-top: 0px;
	font-size: 18px;
	text-transform: uppercase;
	color: #121212;
	font-weight: 700;
	margin-bottom: 5px;
	display: inline-block;
}

.event-list .web span {
	font-size: 13px;
	font-weight: 600;
	color: #b94e5e;
	display: inline-block;
}

.event-list .design span {
	font-size: 13px;
	font-weight: 600;
	color: #e86859;
	display: inline-block;
}

.event-list {
	transition: all 0.5s;
	height: auto;
}




.services {
	margin-top: 10px;
	padding-top: 0vh;
	padding-bottom: 0vh;
	text-align: center;
	background-image: url(../img/services-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.services .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
}

.services .col-md-3 {
	padding-right: 0px;
	padding-left: 0px;
}

.flip-container {
  perspective: 1000;
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 350px;
  text-align: center;
  font-size: 30px;
}
/* flipping speed here */

.front {
	padding: 40px 30px;
}

.front .icon {
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	background-color: transparent;
	/* border: 1px solid #fff; */
	/* border-radius: 50%; */
	margin: 30px auto;
}

.front h4 {
	margin-top: 0px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
}

.flipper {
  -webkit-transition: 0.3s all;   
-webkit-transition-delay: 0.3s; 
-moz-transition: 0.3s all;   
-moz-transition-delay: 5s; 
-ms-transition: 0.3s all;   
-ms-transition-delay: 5s; 
-o-transition: 0.3s all;   
-o-transition-delay: 5s; 
transition: 0.3s all;   
transition-delay: 0.3s; 
  transform-style: preserve-3d;
  position: relative;
}
/* making the the other side hidden while flipping */


.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front side is in front of a back side */

.front {
  z-index: 2;
  color: white;
  /* for firefox 31 */
	transform: rotateY(0deg);
}
/* back side */

.back {
  transform: rotateY(180deg);
}

.back p {
  color: #fff;
  padding: 90px 30px;
}

.first-service .front,
.first-service .back {
	background-color: rgba(244, 188, 81, 0.9);
}

.second-service .front,
.second-service .back {
	background-color: rgba(243, 158, 75, 0.9);
}

.third-service .front,
.third-service .back {
	background-color: rgba(185, 78, 94, 0.9);
}

.fourth-service .front,
.fourth-service .back {
	background-color: rgba(232, 104, 89, 0.9);
}

footer {
	height: 80px;
	margin-top: 10px;	
	background-color: #bfd8d2;
	text-align: center;
}

footer p {
	font-size: 13px;
	color: #333;
	line-height: 80px;
	margin-bottom: 0px;
}

@media (max-width: 1000px) {

	.event-list h4 {
		width: 230px;
	}

	.event-list .event-item .time span{
		margin-left: 20px;
	}

}

@media (max-width: 991px) {

	.banner .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.banner .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.banner .left-banner-content {
		padding-left: 0px;
		text-align: center;
	}

	.white-border-button {
		float: none;
	}

	.left-banner-content h1 {
		font-size: 64px;
		font-weight: 620;
		color: #fff;
		line-height: 80px!important;
	}

	.best-offer .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.best-offer .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.best-offer-right-content {
		text-align: center;
	}

	.best-offer-right-content {
		background-color: #eee;
		padding: 30px 30px;
		min-height: 550px;
		height: auto;
	}

	.best-offer-right-content .pink-button {
		margin-bottom: 50px;
	}

	.events {
		margin-right: 10px;
		margin-left: 10px;
	}

	.event-item {
		text-align: center!important;
		display: inline-block;
	}

	.event-item h4 {
		text-align: center!important;
	}

	.event-item span {
		text-align: center!important;
		display: inline-block;
		width: 100%;
	}

	.event-list h4 {
		width: 300px;
	}

	.event-list .event-item .time span{
		margin-left: 50px;
	}

	.event-list .project-item li:first-child {
		float: none;
	}
	
	.event-list .project-item li:last-child {
		float: none;
		margin-top: 0px;
		margin-right: 0px;
		padding-bottom: 25px;
	}

	.event-list {
		transition: all 0.5s;
		height: auto;
	}

	.event-list .event-item li:last-child {
		float: right;
		/* margin-top: 20px; */
		margin-right: 20px;
	}

	.event-list .event-item .time {
		margin-left: 0px;
	}

	.event-list .event-item .time span {
		margin-left: 0px;
	}

	.services {
		margin-left: 10px;
		margin-right: 10px;
	}

	footer {
		margin-right: 10px;
		margin-left: 10px;
	}

	footer p {
		font-size: 11px;
	}
		
}

@media (max-width: 843px) {

	.event-item {
		text-align: center;
		width: 100%;
	}

	.event-item li:first-child {
		float: none!important;
		width: 100px;
	}

	.event-item li {
		text-align: center!important;
		width: 49%!important;
	}

	.event-item li:last-child {
		display: block;
		margin-top: 5px!important;
		margin-right: 0px!important;
	}

	.event-list ul li .date span {
		background-color: #f4bc51;
		width: 100%;
		height: 60px;
		text-align: center;
		line-height: 25px;
		margin-right: 0px;
	}
	.event-list h4 {
		width: auto;
	}

}

@media (max-width: 1045px) {

	.event-list h4 {
		width: 250px;
	}
	
}

@media (max-width: 620px) {

	.event-list h4 {
		width: auto;
	}

}

@media (max-width: 500px) {

	.event-item {
		text-align: center;
		width: 100%;
	}

	.event-item li:first-child {
		float: none!important;
		width: 100px;
	}

	.event-item li {
		text-align: center!important;
		width: 100%!important;
	}

	.event-item li:last-child {
		float: none!important;
		margin-top: 15px!important;
		margin-right: 0px!important;
	}

	.event-list h4 {
		width: auto;
	}

}